body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.menu a {
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  background: #22c55e;
  color: black;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
}

.menu a:hover {
  background: #16a34a;
}
canvas {
  background: #111;
  border: 3px solid lime;
  margin: 20px auto;
  display: block;
}
